@import "../../../../node_modules/react-awesome-slider/src/core/styles";

// Direct scss customization
.#{$root-element} {
  &__bullets {
    position: absolute;
    bottom: 20px;
    z-index: 10;
  }
}

// Custom changes
.aws-sld {
  --slider-height-percentage: 27%;
  --slider-transition-duration: 465ms;
  --organic-arrow-thickness: 4px;
  // --organic-arrow-border-radius: 0px;
  // --organic-arrow-height: 40px;
  --organic-arrow-color: #161312;
  // --control-button-width: 10%;
  // --control-button-height: 25%;
  // --control-button-background: transparent;
  --control-bullet-color: #161312;
  // --control-bullet-active-color: #26456f;
  // --loader-bar-color: #851515;
  // --loader-bar-height: 6px;
  --control-button-opacity: 0.9;
}
