{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block content %}

    <script>
       var __hasValidatedCguRgpd = {% if user.has_validated_cgu_rgpd %} true {% else %} false {% endif %};
    </script>

    {% render_bundle 'rgpdCgu' %}

    {% if user.has_validated_cgu_rgpd %}
    {% else %}
    <div style="display: none;">
        <!-- Hidden form to be used by react to submit the values -->
        <form method="post">
            {% csrf_token %}
            {{ form.has_validated_cgu_rgpd }}
            <br>
            <input type="submit" value="Valider" id="formSubmitButton">
        </form>
    </div>
    {% endif %}
{% endblock %}
